annotated-types==0.7.0
anyio
appdirs
argon2-cffi
argon2-cffi-bindings
arrow
asttokens==2.4.1
async-lru
atpublic
attrs
babel
backoff
beautifulsoup4
bidict
bleach
Brotli
cached-property
certifi==2024.12.14
cffi
charset-normalizer
click
colorama==0.4.6
comm==0.2.2
contourpy
cycler
debugpy==1.8.5
decorator==5.1.1
defusedxml
distro==1.9.0
docutils
emoji==2.14.1
exceptiongroup
executing==2.0.1
fastjsonschema
filelock
fonttools
fqdn
fsspec
graphviz
greenlet
h11
h2
hpack
httpcore
httpx
humanize
hyperframe
ibis-framework
idna
importlib_metadata
importlib_resources
ipykernel==6.29.5
ipython==8.27.0
ipython_genutils
isoduration
itsdangerous
jedi==0.19.1
Jinja2
jiter==0.8.2
joblib
json5
jsonpointer
jsonschema
jsonschema-specifications
jupysql
jupysql-plugin
jupyter-events
jupyter-highlight-selected-word==0.2.0
jupyter-lsp
jupyter_client==8.6.2
jupyter_contrib_core==0.4.2
jupyter_contrib_nbextensions==0.7.0
jupyter_core==5.7.2
jupyter_nbextensions_configurator==0.6.4
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
kiwisolver
lxml==5.3.1
marimo
Markdown
markdown-it-py
MarkupSafe
matplotlib==3.10.0
matplotlib-inline==0.1.7
mdurl
mistune
monotonic
munkres==1.1.4
narwhals
nbclient
nbconvert
nbformat
nest-asyncio==1.6.0
notebook==7.3.2
notebook_shim
numpy
openai==1.60.1
overrides
packaging==24.1
pandas
pandocfilters
parso==0.8.4
parsy
patsy
pickleshare
pillow
pins
pkgutil_resolve_name
platformdirs==4.2.2
ploomber-core
plotly
polars
posthog
prettytable
prometheus_client
prompt_toolkit==3.0.47
psutil==6.0.0
psycopg2
pure_eval==0.2.3
pyarrow==19.0.0
pyarrow-hotfix
pycparser
pycrdt
pydantic==2.10.6
pydantic_core==2.27.2
Pygments==2.18.0
pymdown-extensions
pyparsing
PySide6==6.8.1
PySocks
python-dateutil==2.9.0.post0
python-dotenv
python-json-logger
pytz
pywin32==306
pywinpty
PyYAML
pyzmq==26.2.0
referencing
regex
requests
rfc3339_validator
rfc3986-validator
rich
rpds-py
ruff
scikit-learn
scipy
seaborn
Send2Trash
setuptools==75.8.0
shiboken6==6.8.1
six==1.16.0
sniffio
soupsieve
SQLAlchemy
sqlglot
sqlparse
stack-data==0.6.3
starlette
statsmodels
terminado
threadpoolctl
tinycss2
tomli
tomlkit
toolz
tornado==6.4.1
tqdm==4.67.1
traitlets==5.14.3
types-python-dateutil
typing_extensions
typing_utils
tzdata
unicodedata2
uri-template
urllib3
uvicorn
wcwidth==0.2.13
webcolors
webencodings
websocket-client
websockets
wheel==0.45.1
win_inet_pton
xxhash
zipp
zstandard==0.23.0
